button[pButton]{
  width: 120px !important;
  margin-right: 15px;
  margin-bottom: 10px;
  position: relative;
  left:calc(100% - 120px);
  background-color: #005C90 !important;
  color:#fff !important;
}
