  <div class="ui-g ui-fluid">
    <div class="ui-g ui-g-12" style="padding-bottom: 0px">
      <p-card header="Edicion de perfil">
      <p-panel header="Editar Perfil" [style]="{ border: 'none'}">
        <form [formGroup]="form" >
          <div class="ui-g ui-fluid">
            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-nombre">Nombre</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-nombre" formControlName="name" >
                  <div class="ui-message ui-messages-error" *ngIf="validations.name">
                    {{validations.name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-valApellido1">Primer Apellido</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-valApellido1" formControlName="valApellido1" >
                  <div class="ui-message ui-messages-error" *ngIf="validations.valApellido1">
                    {{validations.valApellido1}}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-valApellido2">Segundo Apellido</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-valApellido2" formControlName="valApellido2" >
                  <div class="ui-message ui-messages-error" *ngIf="validations.valApellido2">
                    {{validations.valApellido2}}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-email">Correo Electr&oacute;nico</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px" >
                  <input pInputText id="profile-email" formControlName="email" >
                  <div class="ui-message ui-messages-error" *ngIf="validations.email">
                    {{ validations.email }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-codTipoId">Tipo de Identificaci&oacute;n</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <p-dropdown [options]="(tipoDocumentoId$ | async)"
                              [autoWidth]="false" placeholder="Seleccione" id="profile-codTipoId"
                              formControlName="codTipDocIdent"  ></p-dropdown>
                  <div class="ui-message ui-messages-error" *ngIf="validations.codTipDocIdent">
                    {{ validations.codTipDocIdent }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-4 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-identificacion"># Identificación</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-identificacion" formControlName="nroIdentificacion" >
                  <div class="ui-message ui-messages-error" *ngIf="validations.nroIdentificacion">
                    {{ validations.nroIdentificacion }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-3 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-cargo">Cargo</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-cargo" formControlName="cargo" >
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-3 ui-sm-6">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="profile-firma">Firma</label>
                </div>
                <div class="ui-g-12"  style="padding-top: 2px">
                  <input pInputText id="profile-firma" formControlName="firmaPolitica" >
                </div>
              </div>
            </div>
            <div class="ui-g ui-g-2 ">
              <div class="ui-g form-group">
                <div class="ui-g-10">
                  <label for="profile-firma">Es Jefe ?</label>
                </div>
                <div class="ui-g-1"  style="padding-top: 2px">
                  <p-checkbox [binary]="true" formControlName="esJefe"></p-checkbox>
                </div>
              </div>
            </div>
          </div>
        </form>

      <app-dependencies *ngIf="!dep" #depComponent (onBeforeSave)="showLoading()" (onAfterSave)="hideLoading()" (dependenciasChange)="setDependencias($event)" ></app-dependencies>


      <div class="ui-g ui-fluid ui-dialog-footer ui-widget" style="width: calc(100% + 30px); margin: 9px -15px -10px -15px;">
        <div class="ui-g ui-g-12" >
          <button pButton label="Guardar" [disabled]="form.invalid " icon="pi pi-save" iconPos="left"
                  class="ui-button-info"  type="button" (click)="save()"></button>
        </div>
      </div>

      </p-panel>
      </p-card>
    </div>
  </div>
