/* You can add global styles to this file, and also import other style files */
.embedSize {
    width: calc(100% - 35px);
    height: 94%;
    position: absolute;
    overflow: hidden !important;
}

@import "../node_modules/ngx-toastr/toastr.css";

.toast-container{
  z-index: 10000000;
}

.layout-container.menu-layout-overlay .topbar {
  z-index: 999;
}


