p-dialog p-footer  button[pButton]{
  background-color: #005C90 !important;
  color:#fff !important;
}

.tabla{
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.boton{
  margin-left: 5px;
}
