<p-card header="Listado de Usuarios">
  <p-panel  header="Búsqueda de usuarios" [style]="{ border: 'none'}">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <span class="md-inputfield" style="margin-top: 36px">
                <input type="text" pInputText id="nombre" formControlName="nombre">
                <label for="nombre">Nombre</label>
              </span>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
          <div class="ui-g form-group">
            <div class="ui-g-12">
               <span class="md-inputfield" style="margin-top: 36px">
                 <input type="text" pInputText id="primerApellido" formControlName="primerApellido">
                 <label for="primerApellido">Primer Apellido</label>
               </span>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
          <div class="ui-g form-group">
            <div class="ui-g-12">
               <span class="md-inputfield" style="margin-top: 36px">
                <input type="text" pInputText id="segundoApellido" formControlName="segundoApellido">
                <label for="segundoApellido">Segundo Apellido</label>
              </span>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
          <div class="ui-g form-group">
            <div class="ui-g-12" style="margin-top: 36px">
              <button pButton type="button" label="Buscar" [disabled]="!form.valid"  icon="pi pi-search" iconPos="left"
                      style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: right"
                      (click)="searchFuncionarios()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <div class="tabla">

  <p-table [value]="(funcionarios$ | async)" [paginator]="true" [rows]="10">

    <ng-template pTemplate="header">
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
         <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.loginName}}</td>
        <td>{{user.name}} {{user.properties.valApellido1}} {{user.properties.valApellido2}}</td>
         <td  style="text-align: center" >
          <button pButton type="button" label="Editar Roles" icon="pi pi-group" iconPos="left" (click)="showRoles(user)"></button>
          <button pButton type="button" label="Editar Perfil" icon="pi pi-user" iconPos="left" (click)="showProfile(user)" class="boton"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
  </div>
</p-card>

<p-dialog [(visible)] = "showProfileDialog" (onHide)="hideProfileDialog()"   modal="modal"
          [responsive]="true" [positionTop]="'50%'" [width]="800"  [contentStyle]="{'max-height':'550px'}" >
  <app-profile #profileComponent  (onProfileSave)="searchFuncionarios()"  ></app-profile>
</p-dialog>

<p-dialog [(visible)] = "showRolesDialog" (onHide)="hideRolesDialog()" (onShow)="rolesComponent.resetTabs()"  modal="modal"
                     [responsive]="true" [positionTop]="'50%'" [width]="800"  [contentStyle]="{'max-height':'550px'}" header="Editar Roles">
  <app-roles #rolesComponent (onRolesUpdated)="searchFuncionarios()"  ></app-roles>

</p-dialog>


